In [1]:
import pandas as pd

In [2]:
diro = '/perm/nklm/Px_flashdroughts/ERA5_FD_events/'
basin = 'Rhine'
start_threshold = 0
end_threshold = -1

In [46]:
# static variables
diri = '/perm/nklm/Px_flashdroughts/ERA5_FD_events/'
basin = 'Rhine'
start_threshold = 0
end_threshold = -1


# dynamic variables
index = 'SMI'
scale = 7
window = 14
jump = -1.5

fili = f'{basin}_{index}{scale}_dwindow{window}_jump{jump}.csv'

In [47]:
df = pd.read_csv(diri+fili, index_col=0)

In [49]:
df['FD_startdate'][0:60]

0     1980-02-15
1     1980-02-16
2     1980-02-17
3     1980-02-18
4     1980-02-19
5     1980-02-20
6     1980-02-21
7     1980-02-22
8     1980-02-23
9     1980-03-12
10    1980-05-03
11    1980-05-04
12    1980-05-05
13    1980-05-06
14    1980-05-07
15    1980-05-08
16    1980-05-09
17    1980-05-10
18    1980-05-11
19    1981-03-28
20    1981-03-29
21    1981-03-30
22    1981-12-09
23    1981-12-10
24    1981-12-11
25    1981-12-12
26    1981-12-13
27    1981-12-14
28    1981-12-15
29    1981-12-16
30    1982-05-25
31    1982-05-26
32    1982-05-27
33    1982-05-28
34    1982-06-29
35    1982-06-30
36    1982-07-01
37    1982-09-02
38    1983-02-04
39    1983-02-05
40    1983-02-06
41    1983-02-07
42    1983-02-08
43    1983-02-28
44    1983-05-30
45    1983-05-31
46    1983-09-17
47    1983-09-18
48    1983-09-19
49    1983-09-20
50    1983-09-21
51    1983-09-22
52    1983-09-23
53    1983-12-04
54    1984-04-11
55    1984-04-12
56    1984-04-13
57    1984-04-14
58    1984-12-22
59    1984-12-23
Name: FD_startdate, dtype: object

In [1]:
16/3

5.333333333333333

In [5]:
np.sqrt(2*2 + 5.333*5.333)

5.695690388355041

In [3]:
import numpy as np